<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/data_cleaning_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

Duplicates

In [11]:
ambassadors = pd.Series([
    'France',
    'United Kingdom',
    'United Kingdom',
    'Italy',
    'Germany',
    'Germany',
    'Germany'
    ], index =[
    'Gérard Araud',
    'Kim Darroch',
    'Peter Westmacott',
    'Armando Varicchio',
    'Peter Wittig',
    'Peter Ammon',
    'Klaus Scharioth'
    ])

In [12]:
ambassadors

Gérard Araud                 France
Kim Darroch          United Kingdom
Peter Westmacott     United Kingdom
Armando Varicchio             Italy
Peter Wittig                Germany
Peter Ammon                 Germany
Klaus Scharioth             Germany
dtype: object

In [13]:
ambassadors.duplicated()

Gérard Araud         False
Kim Darroch          False
Peter Westmacott      True
Armando Varicchio    False
Peter Wittig         False
Peter Ammon           True
Klaus Scharioth       True
dtype: bool

In [15]:
ambassadors.duplicated(keep=False)

Gérard Araud         False
Kim Darroch           True
Peter Westmacott      True
Armando Varicchio    False
Peter Wittig          True
Peter Ammon           True
Klaus Scharioth       True
dtype: bool

In [16]:
ambassadors.drop_duplicates()

Gérard Araud                 France
Kim Darroch          United Kingdom
Armando Varicchio             Italy
Peter Wittig                Germany
dtype: object

In [17]:
ambassadors.drop_duplicates(keep='last')

Gérard Araud                 France
Peter Westmacott     United Kingdom
Armando Varicchio             Italy
Klaus Scharioth             Germany
dtype: object

In [18]:
ambassadors.drop_duplicates(keep=False)

Gérard Araud         France
Armando Varicchio     Italy
dtype: object

Duplicates in DataFrames

In [19]:
players = pd.DataFrame({
    'Name': [
        'Kobe Bryant',
        'LeBron James',
        'Kobe Bryant',
        'Carmelo Anthony',
        'Kobe Bryant'
    ],
    'Pos': [
        'SG',
        'SF',
        'SG',
        'SF',
        'SF'
    ]
})

In [20]:
players

              Name Pos
0      Kobe Bryant  SG
1     LeBron James  SF
2      Kobe Bryant  SG
3  Carmelo Anthony  SF
4      Kobe Bryant  SF

In [22]:
players.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [23]:
players.duplicated(subset=['Name'])

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [24]:
players.duplicated(subset=['Name'], keep='last')

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [25]:
players.drop_duplicates()

              Name Pos
0      Kobe Bryant  SG
1     LeBron James  SF
3  Carmelo Anthony  SF
4      Kobe Bryant  SF

Splitting Columns

In [26]:
df = pd.DataFrame({
    'Data' : [
        '1987_M_US _1',
        '1990?_M_UK_1',
        '1992_F_US_2',
        '1970?_M_    IT_1',
        '1985_F_I  T_2'
    ]
})

In [27]:
df

               Data
0      1987_M_US _1
1      1990?_M_UK_1
2       1992_F_US_2
3  1970?_M_    IT_1
4     1985_F_I  T_2

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

Note: 
The single columns represent the values "year, gender, country and number of childeren", but it's all been grouped in the same column and separated by an underscore.

In [29]:
df['Data'].str.split('_')

0        [1987, M, US , 1]
1        [1990?, M, UK, 1]
2         [1992, F, US, 2]
3    [1970?, M,     IT, 1]
4       [1985, F, I  T, 2]
Name: Data, dtype: object

In [30]:
df['Data'].str.split('_', expand=True)

       0  1       2  3
0   1987  M     US   1
1  1990?  M      UK  1
2   1992  F      US  2
3  1970?  M      IT  1
4   1985  F    I  T  2

In [31]:
df = df['Data'].str.split('_', expand=True)

In [32]:
df.columns = ['Year', 'Gender', 'Country', 'No Children']

In [33]:
df

    Year Gender Country No Children
0   1987      M     US            1
1  1990?      M      UK           1
2   1992      F      US           2
3  1970?      M      IT           1
4   1985      F    I  T           2

In [34]:
df['Year'].str.contains('\?')

0    False
1     True
2    False
3     True
4    False
Name: Year, dtype: bool

In [35]:
df['Country'].str.strip()

0      US
1      UK
2      US
3      IT
4    I  T
Name: Country, dtype: object

In [36]:
df['Country'].str.replace(' ', '')

0    US
1    UK
2    US
3    IT
4    IT
Name: Country, dtype: object