<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/data_cleaning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series([1,2,3, np.nan, np.nan, 4])

Filling nulls with arbitrary a value

In [ ]:
s.fillna(0)

In [ ]:
s.fillna(s.mean())

In [ ]:
s

Filling nulles with contiguous (close) values

In [ ]:
s.fillna(method='ffill')

In [ ]:
s.fillna(method='bfill')

In [ ]:
pd.Series([np.nan, 3, np.nan, 9]).fillna(method='ffill')

In [ ]:
pd.Series([1, np.nan, 3, np.nan, np.nan]).fillna(method='bfill')

Filling null values on DataFrames

In [ ]:
df = pd.DataFrame({
    'Group 1': [22, 26, np.nan, 37],
    'Group 2' : [29, np.nan, 42, 32],
    'Group 3': [15, 21, np.nan, np.nan],
    'Group 4': [52, np.nan, 73, 48]
})

In [ ]:
df

In [ ]:
df.fillna({'Group 1': 47, 'Group 2': 27, 'Group 3': df['Group 3'].mean(), 'Group 4': 63})

In [ ]:
df.fillna(method='ffill', axis=1)