<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/data_cleaning_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Duplicates

In [ ]:
ambassadors = pd.Series([
    'France',
    'United Kingdom',
    'United Kingdom',
    'Italy',
    'Germany',
    'Germany',
    'Germany'
    ], index =[
    'GÃ©rard Araud',
    'Kim Darroch',
    'Peter Westmacott',
    'Armando Varicchio',
    'Peter Wittig',
    'Peter Ammon',
    'Klaus Scharioth'
    ])

In [ ]:
ambassadors

In [ ]:
ambassadors.duplicated()

In [ ]:
ambassadors.duplicated(keep=False)

In [ ]:
ambassadors.drop_duplicates()

In [ ]:
ambassadors.drop_duplicates(keep='last')

In [ ]:
ambassadors.drop_duplicates(keep=False)

Duplicates in DataFrames

In [ ]:
players = pd.DataFrame({
    'Name': [
        'Kobe Bryant',
        'LeBron James',
        'Kobe Bryant',
        'Carmelo Anthony',
        'Kobe Bryant'
    ],
    'Pos': [
        'SG',
        'SF',
        'SG',
        'SF',
        'SF'
    ]
})

In [ ]:
players

In [ ]:
players.duplicated()

In [ ]:
players.duplicated(subset=['Name'])

In [ ]:
players.duplicated(subset=['Name'], keep='last')

In [ ]:
players.drop_duplicates()

Splitting Columns

In [ ]:
df = pd.DataFrame({
    'Data' : [
        '1987_M_US _1',
        '1990?_M_UK_1',
        '1992_F_US_2',
        '1970?_M_    IT_1',
        '1985_F_I  T_2'
    ]
})

In [ ]:
df

In [ ]:
df.info()

Note: 
The single columns represent the values "year, gender, country and number of childeren", but it's all been grouped in the same column and separated by an underscore.

In [ ]:
df['Data'].str.split('_')

In [ ]:
df['Data'].str.split('_', expand=True)

In [ ]:
df = df['Data'].str.split('_', expand=True)

In [ ]:
df.columns = ['Year', 'Gender', 'Country', 'No Children']

In [ ]:
df

In [ ]:
df['Year'].str.contains('\?')

In [ ]:
df['Country'].str.strip()

In [ ]:
df['Country'].str.replace(' ', '')