<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/data_cleaning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

Identify and detect null values

In [3]:
pd.isnull(np.nan)

True

In [4]:
pd.isnull(None)

True

In [5]:
pd.isna(np.nan)

True

In [6]:
pd.isna(None)

True

In [9]:
pd.notnull(None)

False

In [10]:
pd.notnull(np.nan)

False

In [11]:
pd.notnull(3)

True

These functions also work with Series and DataFrame:

In [12]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [13]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [14]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

Filtering missing data

In [15]:
s = pd.Series([1,2,3, np.nan, np.nan, 4])

In [16]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [17]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [19]:
pd.notnull(s).count()

6

In [20]:
pd.notnull(s).sum()

4

In [21]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [22]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [23]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

Dropping null values

In [25]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [24]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [26]:
df = pd.DataFrame({
    'Group 1': [22, 26, np.nan, 37],
    'Group 2' : [29, np.nan, 42, 32],
    'Group 3': [15, 21, np.nan, np.nan],
    'Group 4': [52, np.nan, 73, 48]
})

In [27]:
df

   Group 1  Group 2  Group 3  Group 4
0     22.0     29.0     15.0     52.0
1     26.0      NaN     21.0      NaN
2      NaN     42.0      NaN     73.0
3     37.0     32.0      NaN     48.0

In [28]:
df.isnull()

   Group 1  Group 2  Group 3  Group 4
0    False    False    False    False
1    False     True    False     True
2     True    False     True    False
3    False    False     True    False

In [29]:
df.isnull().sum()

Group 1    1
Group 2    1
Group 3    2
Group 4    1
dtype: int64

In [30]:
df.dropna()

   Group 1  Group 2  Group 3  Group 4
0     22.0     29.0     15.0     52.0