<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/data_cleaning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,2,3, np.nan, np.nan, 4])

Filling nulls with arbitrary a value

In [4]:
s.fillna(0)

0    1.0
1    2.0
2    3.0
3    0.0
4    0.0
5    4.0
dtype: float64

In [5]:
s.fillna(s.mean())

0    1.0
1    2.0
2    3.0
3    2.5
4    2.5
5    4.0
dtype: float64

In [6]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

Filling nulles with contiguous (close) values

In [7]:
s.fillna(method='ffill')

0    1.0
1    2.0
2    3.0
3    3.0
4    3.0
5    4.0
dtype: float64

In [8]:
s.fillna(method='bfill')

0    1.0
1    2.0
2    3.0
3    4.0
4    4.0
5    4.0
dtype: float64

In [9]:
pd.Series([np.nan, 3, np.nan, 9]).fillna(method='ffill')

0    NaN
1    3.0
2    3.0
3    9.0
dtype: float64

In [10]:
pd.Series([1, np.nan, 3, np.nan, np.nan]).fillna(method='bfill')

0    1.0
1    3.0
2    3.0
3    NaN
4    NaN
dtype: float64

Filling null values on DataFrames

In [11]:
df = pd.DataFrame({
    'Group 1': [22, 26, np.nan, 37],
    'Group 2' : [29, np.nan, 42, 32],
    'Group 3': [15, 21, np.nan, np.nan],
    'Group 4': [52, np.nan, 73, 48]
})

In [12]:
df

   Group 1  Group 2  Group 3  Group 4
0     22.0     29.0     15.0     52.0
1     26.0      NaN     21.0      NaN
2      NaN     42.0      NaN     73.0
3     37.0     32.0      NaN     48.0

In [13]:
df.fillna({'Group 1': 47, 'Group 2': 27, 'Group 3': df['Group 3'].mean(), 'Group 4': 63})

   Group 1  Group 2  Group 3  Group 4
0     22.0     29.0     15.0     52.0
1     26.0     27.0     21.0     63.0
2     47.0     42.0     18.0     73.0
3     37.0     32.0     18.0     48.0

In [15]:
df.fillna(method='ffill', axis=0)

   Group 1  Group 2  Group 3  Group 4
0     22.0     29.0     15.0     52.0
1     26.0     29.0     21.0     52.0
2     26.0     42.0     21.0     73.0
3     37.0     32.0     21.0     48.0

In [17]:
df.fillna(method='ffill', axis=1)

   Group 1  Group 2  Group 3  Group 4
0     22.0     29.0     15.0     52.0
1     26.0     26.0     21.0     21.0
2      NaN     42.0     42.0     73.0
3     37.0     32.0     32.0     48.0

In [16]:
df.fillna(method='bfill', axis=1)

   Group 1  Group 2  Group 3  Group 4
0     22.0     29.0     15.0     52.0
1     26.0     21.0     21.0      NaN
2     42.0     42.0     73.0     73.0
3     37.0     32.0     48.0     48.0

In [18]:
df.fillna(method='bfill', axis=0)

   Group 1  Group 2  Group 3  Group 4
0     22.0     29.0     15.0     52.0
1     26.0     42.0     21.0     73.0
2     37.0     42.0      NaN     73.0
3     37.0     32.0      NaN     48.0

Checking if there are NAs

Example 1:
Checking the lenght

In [27]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [20]:
s.dropna().count()

4

In [22]:
missing_values = len(s.dropna()) != len(s)
missing_values

True

In [23]:
pd.Series([True, False, False]).any()

True

In [24]:
pd.Series([True, False, False]).all()

False

In [25]:
pd.Series([True, True, True]).all()

True

In [26]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [28]:
pd.Series([1, np.nan]).isnull().any()

True

In [29]:
pd.Series([1,2]).isnull().any()

False

In [30]:
s.isnull().any()

True

In [31]:
df = pd.DataFrame({
    'Gender' : ['M', 'F', 'F', 'D', '?'],
    'Age' : [29, 30, 24, 290, 25],
})

In [32]:
df

  Gender  Age
0      M   29
1      F   30
2      F   24
3      D  290
4      ?   25

Finding Unique Values

In [33]:
df['Gender'].unique()

array(['M', 'F', 'D', '?'], dtype=object)

In [34]:
df['Gender'].value_counts()

F    2
M    1
D    1
?    1
Name: Gender, dtype: int64

In [35]:
df['Gender'].replace('D', 'F')

0    M
1    F
2    F
3    F
4    ?
Name: Gender, dtype: object

In [37]:
df['Gender'].replace({'D': 'F', 'N': 'M'})

0    M
1    F
2    F
3    F
4    ?
Name: Gender, dtype: object

In [38]:
df.replace({
    'Gender': {
        'D': 'F',
        'N': 'M'
    },
    'Age': {
        290: 29
    }
})

  Gender  Age
0      M   29
1      F   30
2      F   24
3      F   29
4      ?   25

In [39]:
df[df['Age'] > 100]

  Gender  Age
3      D  290

In [40]:
df.loc[df['Age'] > 100, 'Age'] = df.loc[df['Age'] > 100, 'Age'] / 10

In [41]:
df

  Gender   Age
0      M  29.0
1      F  30.0
2      F  24.0
3      D  29.0
4      ?  25.0