<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import pandas as pd
import numpy as np

Pandas Series

In [87]:
gl_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [51]:
gl_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [52]:
gl_pop.dtype

dtype('float64')

In [53]:
gl_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [54]:
type(gl_pop.values)

numpy.ndarray

In [55]:
gl_pop[0]

35.467

In [56]:
gl_pop[1]

63.951

In [31]:
gl_pop.index

RangeIndex(start=0, stop=7, step=1)

In [57]:
l = ['a', 'b', 'c']

In [35]:
gl_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japon',
    'United Kingdom',
    'United States'
]

In [36]:
gl_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japon             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [38]:
pd.Series({
    'Canada' : 35.467,
    'France' : 63.951,
    'Germany' : 80.940,
    'Italy' : 60.665,
    'Japon' : 127.061,
    'United Kingdom' : 64.511,
    'United States' : 318.523
}, name = '67 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japon             127.061
United Kingdom     64.511
United States     318.523
Name: 67 Population in millions, dtype: float64

In [39]:
pd.Series(
    [35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523],
     index = ['Canada','France','Germany','Italy','Japon','United Kingdom',
              'United States'],
        name = '67 Population in millions'
    
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japon             127.061
United Kingdom     64.511
United States     318.523
Name: 67 Population in millions, dtype: float64

In [40]:
pd.Series(gl_pop, index = ['France','Germany','Italy','Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
dtype: float64

Indexing

In [41]:
gl_pop['Canada']

35.467

In [42]:
gl_pop[['Japon', 'Germany']]

Japon      127.061
Germany     80.940
dtype: float64

In [45]:
gl_pop[['Japon', 'France', 'Italy']]

Japon     127.061
France     63.951
Italy      60.665
dtype: float64

In [46]:
gl_pop.iloc[0]

35.467

In [47]:
gl_pop.iloc[-1]

318.523

In [48]:
gl_pop.iloc[[0,1]]

Canada    35.467
France    63.951
dtype: float64

Conditional Selection (Boolean Arrays)

In [60]:
gl_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [61]:
gl_pop > 70

0    False
1    False
2     True
3    False
4     True
5    False
6     True
dtype: bool

In [62]:
gl_pop[gl_pop > 70]

2     80.940
4    127.061
6    318.523
dtype: float64

In [63]:
gl_pop.mean()

107.30257142857144

In [64]:
gl_pop[gl_pop > gl_pop.mean()]

4    127.061
6    318.523
dtype: float64

In [65]:
gl_pop.std()

97.24996987121581

~ not

| or


& and

In [66]:
gl_pop[(gl_pop > gl_pop.mean() - gl_pop.std() / 2) | (gl_pop > gl_pop.mean() + gl_pop.std() / 2)]

1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

Operations and Methods

In [67]:
gl_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [68]:
gl_pop * 1_000_000

0     35467000.0
1     63951000.0
2     80940000.0
3     60665000.0
4    127061000.0
5     64511000.0
6    318523000.0
dtype: float64

In [69]:
gl_pop.mean()

107.30257142857144

In [71]:
np.log(gl_pop)

0    3.568603
1    4.158117
2    4.393708
3    4.105367
4    4.844667
5    4.166836
6    5.763695
dtype: float64

Boolean Arrays

In [73]:
gl_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [74]:
gl_pop > 80

0    False
1    False
2     True
3    False
4     True
5    False
6     True
dtype: bool

In [75]:
gl_pop[gl_pop > 80]

2     80.940
4    127.061
6    318.523
dtype: float64

In [76]:
gl_pop[(gl_pop > 80) | (gl_pop < 40)]

0     35.467
2     80.940
4    127.061
6    318.523
dtype: float64

In [78]:
gl_pop[(gl_pop > 80) & (gl_pop < 200)]

2     80.940
4    127.061
dtype: float64

Modifying Series

In [79]:
gl_pop['Canada'] = 40.5

In [80]:
gl_pop

0          35.467
1          63.951
2          80.940
3          60.665
4         127.061
5          64.511
6         318.523
Canada     40.500
dtype: float64

In [82]:
gl_pop.iloc[-1] = 500

In [83]:
gl_pop

0          35.467
1          63.951
2          80.940
3          60.665
4         127.061
5          64.511
6         318.523
Canada    500.000
dtype: float64

In [84]:
gl_pop[gl_pop > 70] = 99.99

In [85]:
gl_pop

0         35.467
1         63.951
2         99.990
3         60.665
4         99.990
5         64.511
6         99.990
Canada    99.990
dtype: float64

Sleep iOS App Data

In [107]:
df = pd.read_csv('sleepdata_2.csv', sep=';')

In [108]:
df

,Start,End,Sleep Quality,Regularity,Mood,Heart rate (bpm),Steps,Alarm mode,Air Pressure (Pa),City,...,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Window start,Window stop,Did snore,Snore time,Weather temperature (°C),Weather type,Notes
0,2019-05-12 23:26:13,2019-05-13 06:11:03,60%,0%,NaN,0,8350,Normal,NaN,NaN,...,24289.2,22993.8,161.9,2019-05-13 06:00:00,2019-05-13 06:00:00,True,92.0,0.0,No weather,NaN
1,2019-05-13 22:10:31,2019-05-14 06:10:42,73%,0%,NaN,0,4746,Normal,NaN,NaN,...,28810.2,25160.9,192.1,2019-05-14 05:50:00,2019-05-14 05:50:00,True,0.0,0.0,No weather,NaN
2,2019-05-14 21:43:00,2019-05-15 06:10:41,86%,96%,NaN,0,4007,Normal,NaN,NaN,...,30461.5,28430.8,203.1,2019-05-15 05:50:00,2019-05-15 05:50:00,True,74.0,0.0,No weather,NaN
3,2019-05-15 23:11:51,2019-05-16 06:13:59,77%,92%,NaN,0,6578,Normal,NaN,NaN,...,25327.6,23132.5,168.9,2019-05-16 05:50:00,2019-05-16 05:50:00,True,0.0,0.0,No weather,NaN
4,2019-05-16 23:12:13,2019-05-17 06:20:32,78%,94%,NaN,0,4913,Normal,NaN,NaN,...,25698.4,22614.6,171.3,2019-05-17 05:50:00,2019-05-17 05:50:00,True,188.0,0.0,No weather,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,2022-03-24 21:33:46,2022-03-25 04:21:40,71%,77%,NaN,0,3903,Normal,95.2,Central Kootenay,...,24474.1,20803.0,489.5,2022-03-25 04:20:00,2022-03-25 04:20:00,True,695.7,4.0,Cloudy,NaN
917,2022-03-25 16:48:05,2022-03-25 17:30:22,9%,14%,NaN,0,495,Normal,83.8,North Okanagan,...,2536.2,0.0,0.0,2022-03-25 17:30:00,2022-03-25 17:30:00,True,0.0,5.0,Cloudy,NaN
918,2022-03-26 21:14:23,2022-03-27 06:11:01,49%,-1%,NaN,0,13388,Normal,83.5,North Okanagan,...,32198.1,24577.9,3649.1,2022-03-27 06:00:00,2022-03-27 06:00:00,True,506.4,-1.1,Cloudy,NaN
919,2022-03-28 22:53:23,2022-03-29 04:50:36,77%,22%,NaN,0,456,Normal,93.9,Central Kootenay,...,21433.6,15860.8,428.7,2022-03-29 04:20:00,2022-03-29 04:20:00,True,60.0,6.1,Sunny,NaN
920,2022-03-29 22:44:09,2022-03-30 05:11:15,68%,85%,NaN,0,5156,Normal,94.4,Central Kootenay,...,23225.9,18813.0,464.5,2022-03-30 05:00:00,2022-03-30 05:00:00,True,720.0,10.5,Cloudy,NaN

In [109]:
df.columns

Index(['Start', 'End', 'Sleep Quality', 'Regularity', 'Mood',
       'Heart rate (bpm)', 'Steps', 'Alarm mode', 'Air Pressure (Pa)', 'City',
       'Movements per hour', 'Time in bed (seconds)', 'Time asleep (seconds)',
       'Time before sleep (seconds)', 'Window start', 'Window stop',
       'Did snore', 'Snore time', 'Weather temperature (°C)', 'Weather type',
       'Notes'],
      dtype='object')

In [110]:
df.index

RangeIndex(start=0, stop=921, step=1)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921 entries, 0 to 920
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Start                        921 non-null    object
 1   End                          921 non-null    object
 2   Sleep Quality                921 non-null    object
 3   Regularity                   921 non-null    object
 4   Mood                         0 non-null      float64
 5   Heart rate (bpm)             921 non-null    int64
 6   Steps                        921 non-null    int64
 7   Alarm mode                   921 non-null    object
 8   Air Pressure (Pa)            492 non-null    float64
 9   City                         487 non-null    object
 10  Movements per hour           921 non-null    float64
 11  Time in bed (seconds)        921 non-null    float64
 12  Time asleep (seconds)        921 non-null    float64
 13  Time before sleep (seconds)  921 non-null    float64
 14  Window start                 841 non-null    object
 15  Window stop                  841 non-null    object
 16  Did snore                    921 non-null    bool
 17  Snore time                   921 non-null    float64
 18  Weather temperature (°C)     921 non-null    float64
 19  Weather type                 921 non-null    object
 20  Notes                        9 non-null      object
dtypes: bool(1), float64(8), int64(2), object(10)
memory usage: 144.9+ KB

In [112]:
df.size

19341

In [113]:
df.shape

(921, 21)

In [114]:
df.describe()

,Mood,Heart rate (bpm),Steps,Air Pressure (Pa),Movements per hour,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Snore time,Weather temperature (°C)
count,0.0,921.0,921.000000,492.000000,921.000000,921.000000,921.000000,921.000000,921.000000,921.000000
mean,NaN,0.0,5311.599349,68.660163,174.277416,27505.497611,23912.683170,1001.556135,312.944300,2.142562
std,NaN,0.0,4396.822762,41.845368,822.776299,3916.696288,4066.189356,1046.287777,455.472848,6.324558
min,NaN,0.0,0.000000,0.000000,0.000000,1852.800000,0.000000,0.000000,0.000000,-19.000000
25%,NaN,0.0,2299.000000,0.000000,37.000000,25500.600000,21627.500000,449.900000,0.000000,0.000000
50%,NaN,0.0,4245.000000,93.700000,49.600000,27422.900000,23919.000000,563.700000,148.000000,0.000000
75%,NaN,0.0,7452.000000,94.400000,65.200000,29530.100000,26257.000000,1287.000000,440.000000,3.100000
max,NaN,0.0,38165.000000,96.500000,17926.700000,46703.400000,45769.400000,5677.700000,4477.300000,24.500000

In [115]:
df.dtypes

Start                           object
End                             object
Sleep Quality                   object
Regularity                      object
Mood                           float64
Heart rate (bpm)                 int64
Steps                            int64
Alarm mode                      object
Air Pressure (Pa)              float64
City                            object
Movements per hour             float64
Time in bed (seconds)          float64
Time asleep (seconds)          float64
Time before sleep (seconds)    float64
Window start                    object
Window stop                     object
Did snore                         bool
Snore time                     float64
Weather temperature (°C)       float64
Weather type                    object
Notes                           object
dtype: object

In [116]:
df.dtypes.value_counts()

object     10
float64     8
int64       2
bool        1
dtype: int64

Indexing, Selection and Slicing

In [118]:
df['Sleep Quality']

0      60%
1      73%
2      86%
3      77%
4      78%
      ...
916    71%
917     9%
918    49%
919    77%
920    68%
Name: Sleep Quality, Length: 921, dtype: object

In [119]:
df.iloc[-1]

Start                          2022-03-29 22:44:09
End                            2022-03-30 05:11:15
Sleep Quality                                  68%
Regularity                                     85%
Mood                                           NaN
Heart rate (bpm)                                 0
Steps                                         5156
Alarm mode                                  Normal
Air Pressure (Pa)                             94.4
City                              Central Kootenay
Movements per hour                            38.2
Time in bed (seconds)                      23225.9
Time asleep (seconds)                      18813.0
Time before sleep (seconds)                  464.5
Window start                   2022-03-30 05:00:00
Window stop                    2022-03-30 05:00:00
Did snore                                     True
Snore time                                   720.0
Weather temperature (°C)                      10.5
Weather type                                Cloudy
Notes                                          NaN
Name: 920, dtype: object