<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/parsing_html%26saving_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
!pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.1)

In [1]:
html_url = "https://www.basketball-reference.com/leagues/NBA_2022_per_game.html"

In [3]:
nba_tables = pd.read_html(html_url)

In [7]:
len(nba_tables)

1

In [5]:
nba = nba_tables[0]

In [23]:
nba.head(26)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9
5,6,Nickeil Alexander-Walker,SG,23,TOT,65,21,22.6,3.9,10.5,...,.743,0.6,2.3,2.9,2.4,0.7,0.4,1.4,1.6,10.6
6,6,Nickeil Alexander-Walker,SG,23,NOP,50,19,26.3,4.7,12.6,...,.722,0.7,2.6,3.3,2.8,0.8,0.4,1.7,1.8,12.8
7,6,Nickeil Alexander-Walker,SG,23,UTA,15,2,9.9,1.1,3.2,...,.917,0.1,1.5,1.5,1.1,0.3,0.3,0.5,1.0,3.5
8,7,Grayson Allen,SG,26,MIL,66,61,27.3,3.9,8.6,...,.865,0.5,2.9,3.4,1.5,0.7,0.3,0.7,1.5,11.1
9,8,Jarrett Allen,C,23,CLE,56,56,32.3,6.6,9.7,...,.708,3.4,7.3,10.8,1.6,0.8,1.3,1.7,1.7,16.1
10,9,Jose Alvarado,PG,23,NOP,54,1,15.4,2.4,5.4,...,.679,0.5,1.4,1.9,2.8,1.3,0.1,0.7,1.4,6.1
11,10,Justin Anderson,SF,28,TOT,16,6,19.8,2.3,5.9,...,.789,0.3,2.6,2.9,2.1,0.5,0.4,0.5,1.4,6.4
12,10,Justin Anderson,SF,28,CLE,3,0,15.7,1.3,2.7,...,.750,0.0,2.0,2.0,2.0,0.3,0.0,0.7,1.3,4.3
13,10,Justin Anderson,SF,28,IND,13,6,20.7,2.5,6.7,...,.800,0.3,2.8,3.1,2.1,0.5,0.5,0.5,1.4,6.8
14,11,Kyle Anderson,PF,28,MEM,69,11,21.5,3.0,6.8,...,.638,1.0,4.3,5.3,2.7,1.1,0.7,1.0,1.6,7.6
15,12,Giannis Antetokounmpo,PF,27,MIL,67,67,32.9,10.3,18.6,...,.722,2.0,9.6,11.6,5.8,1.1,1.4,3.3,3.2,29.9
16,13,Thanasis Antetokounmpo,SF,29,MIL,48,6,9.9,1.5,2.7,...,.630,0.8,1.3,2.1,0.5,0.3,0.3,0.5,1.4,3.6
17,14,Carmelo Anthony,PF,37,LAL,69,3,26.0,4.6,10.5,...,.830,0.9,3.3,4.2,1.0,0.7,0.8,0.9,2.4,13.3
18,15,Cole Anthony,PG,21,ORL,65,65,31.7,5.5,14.0,...,.854,0.5,4.9,5.4,5.7,0.7,0.3,2.6,2.6,16.3
19,16,OG Anunoby,SF,24,TOR,48,48,36.0,6.4,14.5,...,.754,1.5,4.0,5.5,2.6,1.5,0.5,1.7,2.7,17.1
20,17,Ryan Arcidiacono,PG,27,NYK,10,0,7.6,0.6,1.2,...,NaN,0.0,0.8,0.8,0.4,0.1,0.0,0.3,0.5,1.6
21,18,Trevor Ariza,SF,36,LAL,24,11,19.3,1.4,4.1,...,.556,0.4,3.0,3.4,1.1,0.5,0.3,0.5,0.8,4.0
22,19,D.J. Augustin,PG,34,TOT,55,2,16.1,1.7,4.0,...,.884,0.2,1.0,1.2,1.9,0.3,0.0,1.0,0.7,5.3
23,19,D.J. Augustin,PG,34,HOU,34,2,15.0,1.6,4.0,...,.868,0.2,1.0,1.2,2.2,0.3,0.0,1.3,0.5,5.4
24,19,D.J. Augustin,PG,34,LAL,21,0,17.8,1.9,4.1,...,1.000,0.2,1.1,1.3,1.6,0.3,0.0,0.5,1.0,5.3
25,20,Deni Avdija,SF,21,WAS,82,8,24.2,3.0,7.1,...,.757,0.6,4.5,5.2,2.0,0.7,0.5,1.1,2.3,8.4

Complex Example

In [8]:
import requests
html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

In [10]:
r = requests.get(html_url)

wiki_tables = pd.read_html(r.text, header = 0)

In [11]:
len(wiki_tables)

48

In [12]:
simpsons = wiki_tables[1]

In [13]:
simpsons.head()

,Season,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
0,Season,Season,No. ofepisodes,Season premiere,Season finale,Time slot (ET),Avg. viewers(in millions),Most watched episode,Most watched episode
1,Season,Season,No. ofepisodes,Season premiere,Season finale,Time slot (ET),Avg. viewers(in millions),Viewers(millions),Episode title
2,1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5,"""Life on the Fast Lane"""
3,2,1990–91,22,"October 11, 1990","July 11, 1991",Thursday 8:00 pm,24.4,33.6,"""Bart Gets an 'F'"""
4,3,1991–92,24,"September 19, 1991","August 27, 1992",Thursday 8:00 pm,21.8,25.5,"""Colonel Homer"""

In [14]:
simpsons.drop([0,1], inplace=True)

In [15]:
simpsons.set_index('Season', inplace=True)

Which season has the lowest number of episodes?

In [16]:
simpsons['No. ofepisodes'].unique()

array(['13', '22', '24', '25', '23', '21', '20'], dtype=object)

In [17]:
simpsons = simpsons.loc[simpsons['No. ofepisodes'] != 'TBA']

In [20]:
min_season = simpsons['No. ofepisodes'].min()

min_season

'13'

In [22]:
simpsons.loc[simpsons['No. ofepisodes'] == min_season]

,Season.1,No. ofepisodes,Originally aired,Originally aired.1,Originally aired.2,Viewership,Viewership.1,Viewership.2
Season,,,,,,,,
1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5,"""Life on the Fast Lane"""