<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [136]:
import pandas as pd
import numpy as np

In [137]:
df = pd.read_csv('cars.csv', sep =';')

In [138]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [139]:
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US

In [140]:
df.loc[0]

Car             STRING
MPG             DOUBLE
Cylinders          INT
Displacement    DOUBLE
Horsepower      DOUBLE
Weight          DOUBLE
Acceleration    DOUBLE
Model              INT
Origin             CAT
Name: 0, dtype: object

In [141]:
df.drop([0], inplace=True)

In [142]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [143]:
df.loc[400]

Car             Dodge Charger 2.2
MPG                          36.0
Cylinders                       4
Displacement                135.0
Horsepower                  84.00
Weight                      2370.
Acceleration                 13.0
Model                          82
Origin                         US
Name: 400, dtype: object

In [144]:
df.iloc[[0, 1, -1]]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [145]:
df.iloc[0:3, [0,3]]

                         Car Displacement
1  Chevrolet Chevelle Malibu        307.0
2          Buick Skylark 320        350.0
3         Plymouth Satellite        318.0

In [146]:
df.iloc[0:3, 1:5]

    MPG Cylinders Displacement Horsepower
1  18.0         8        307.0      130.0
2  15.0         8        350.0      165.0
3  18.0         8        318.0      150.0

In [147]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [148]:
df.set_index('Car')

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
Car,,,,,,,,
Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
...,...,...,...,...,...,...,...,...
Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [149]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [150]:
type('MPG')

str

In [152]:
df['MPG'] = df['MPG'].astype(float)

In [153]:
print(df.dtypes)

Car              object
MPG             float64
Cylinders        object
Displacement     object
Horsepower       object
Weight           object
Acceleration     object
Model            object
Origin           object
dtype: object

In [154]:
df['MPG'] = pd.to_numeric(df['MPG'])

In [155]:
df['MPG'] > 30

1      False
2      False
3      False
4      False
5      False
       ...
402    False
403     True
404     True
405    False
406     True
Name: MPG, Length: 406, dtype: bool

In [156]:
print(type('MPG'))

<class 'str'>

In [157]:
df.loc[df['MPG'] > 30]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
61,Toyota Corolla 1200,31.0,4,71.00,65.00,1773.,19.0,71,Japan
62,Datsun 1200,35.0,4,72.00,69.00,1613.,18.0,71,Japan
137,Datsun B210,31.0,4,79.00,67.00,1950.,19.0,74,Japan
139,Toyota Corolla 1200,32.0,4,71.00,65.00,1836.,21.0,74,Japan
152,Toyota Corolla,31.0,4,76.00,52.00,1649.,16.5,74,Japan
...,...,...,...,...,...,...,...,...,...
399,Toyota Celica GT,32.0,4,144.0,96.00,2665.,13.9,82,Japan
400,Dodge Charger 2.2,36.0,4,135.0,84.00,2370.,13.0,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [158]:
df.loc[df['MPG'] > 40, ['MPG', 'Car']]

      MPG                              Car
252  43.1  Volkswagen Rabbit Custom Diesel
317  41.5                Volkswagen Rabbit
330  46.6                        Mazda GLC
332  40.8                       Datsun 210
333  44.3     Volkswagen Rabbit C (Diesel)
334  43.4       Volkswagen Dasher (diesel)
337  44.6              Honda Civic 1500 gl
338  40.9             Renault Lecar Deluxe
403  44.0                Volkswagen Pickup